[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
joblib = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"
pyqt5 = "*"
pyqt5-stubs = "==5.15.6.0"
pyqt5designer = "==5.14.1"
seaborn = "*"
optuna = "*"
htmlparser = "*"
pycaret = "==3.0.0rc3"

[dev-packages]

[requires]
python_version = "3.9"
